<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Zuora - Revpro FOEX UI Tests" verbose="1" >
    <test name="Multi-Currency Test" >
        <classes>
            <class name="com.test.automation.tests.Testset"/>
        </classes>
    </test>
</suite>